@import "./bootstrap";
@import "./scss/auth";
@import "./scss/screen-loader";
@import "./scss/hero";
@import "./scss/categories";
@import "./scss/about";
@import "./scss/why-choose-us";
@import "./scss/special-offers";
@import "./scss/footer";
@import "./scss/about-page";

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1 0 100vh;
}